# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Poetry
poetry.lock
!poetry.lock

# Environment
.env
.env.local
.env.prod

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid

.flake8